.mod-inputdate {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0 8px;
  .mod-input-core {
    box-sizing: content-box;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    caret-color: transparent;
    &#Y {
      width: 4ch;
    }
    &#M,
    &#D {
      width: 2ch;
    }
  }
}

.mod-inputdate-range {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
}
