@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.mod-theme {
  --fontColor: #000000de;
  --fontColorSecondary: #ffffff;
  --idleColor: #757575;
  --mainColor: #0277bd;
  --primaryColor: #0277bd;
  --accentColor: hsl(36, 100%, 50%);
  --successColor: #66bb6a;
  --warnColor: #ffd740;
  --errorColor: #f44336;
  --hoverColor: #eeeeee;
  --disabledColor: rgba(48, 48, 48, 0.25);
  --backgroundColor: #ffffff;
}

.mod-theme-dark {
  --fontColor: #ffffffde;
  --fontColorSecondary: #000000de;
  --idleColor: #d5dae4d3;
  --mainColor: #29b6f6;
  --successColor: green;
  --warnColor: yellow;
  --errorColor: #f44336;
  --hoverColor: rgba(230, 235, 240, 0.1);
  --disabledColor: rgba(231, 231, 231, 0.25);
  --backgroundColor: #1f1f1f;
}

.mod-core {
  &.mod-shared {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: var(--width);
    min-height: var(--height);
    font-family: "Roboto", sans-serif;
    margin-bottom: 24px;
  }

  --width: 240px;
  --height: 36px;
  --border-width: 1px;
  --color: var(--idleColor);
  --dropdown-offset: calc(var(--border-width) * -1);
  --borderRadius: 5.5px;
  &.focus,
  &:hover {
    --color: var(--mainColor);
  }
  &.mod-success {
    --color: var(--successColor);
  }
  &.mod-warn {
    --color: var(--warnColor);
  }
  &.mod-error,
  &.error {
    --color: var(--errorColor);
  }
  &.disabled {
    --color: var(--disabledColor);
  }
  &.pointer {
    cursor: pointer;
  }
}

.mod-border {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: var(--border-width) solid var(--color);
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColor);
}

.mod-input-text {
  width: 100%;
  height: 100%;
  padding: 4px;
  outline: none;
  border: none;
  background-color: transparent;
}

.mod-dropdown-container {
  position: absolute;
  left: var(--dropdown-offset);
  right: var(--dropdown-offset);
  bottom: var(--dropdown-offset);
  z-index: 10000;
}

.mod-input-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height);
  padding: 8px;
}

.mod-trigger {
  position: fixed;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.mod-inset-icon {
  width: 32px;
  height: 32px;
}

.mod-helper-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  user-select: none;
  .mod-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4px;
    left: 4px;
    font-size: 12px;
    color: var(--color);
    white-space: pre-wrap;
  }
}

.mod-flex {
  display: flex;
  &.align-end {
    align-items: flex-end;
  }
}
