@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.mod-core-button {
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  user-select: none;
  min-height: 36px;
  padding: 0 16px;
  min-width: 36px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  gap: 4px;
  border-radius: var(--buttonBorderRadius);
  color: var(--buttonTextColor);
  background-color: #00000000;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 200ms;
  &.mod-basic {
    --color: var(--fontColor);
  }
  &.mod-primary {
    --color: var(--primaryColor);
  }
  &.mod-accent {
    --color: var(--accentColor);
  }
  &.mod-success {
    --color: var(--successColor);
  }
  &.mod-warn {
    --color: var(--warnColor);
  }
  &.mod-error {
    --color: var(--errorColor);
  }
  cursor: pointer;
  --buttonTextColor: var(--fontColor);
  --buttonBackground: transparent;
  --buttonBackgroundOpacity: 0;
  --buttonBorderRadius: 4px;
  --buttonShadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  --rippleColor: #ffffff;
  --rippleOpacity: 0.4;
  --buttonBackground: transparent;
  &.mod-margin {
    margin: 8px 8px 8px 0;
  }
  .mod-button-label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 4px;
    width: 100%;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
  }

  .mod-button-background {
    pointer-events: none;
    user-select: none;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--buttonBorderRadius);
    opacity: var(--buttonBackgroundOpacity);
    background-color: var(--buttonBackground);
    transition: all 200ms ease;
    z-index: -100;
  }
  &.mod-raised-idle {
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  }
  &.mod-raised-blur {
    box-shadow: 0 0 2px #0003, 0 0 8px #00000024, 0 0 12px #0000001f;
  }
  &.mod-disabled {
    cursor: default;
    pointer-events: none;
    border: 1px solid var(--disabledColor);
    color: var(--disabledColor);
    --buttonBackground: transparent;
  }
}

/* 
  ------------------------------------------------------------------------- 
  ----- MATERIAL BUTTON CLASS
  ------------------------------------------------------------------------- 
*/

.mat-basic {
  font-weight: 500;
  --buttonTextColor: var(--color);
  --buttonBackground: var(--color);
  --buttonBackgroundOpacity: 0;
  --rippleOpacity: 0.1;
  --rippleColor: var(--color) !important;
  &:hover {
    --buttonBackgroundOpacity: 0.05;
  }
}

.mat-flat {
  font-weight: 500;
  --buttonTextColor: var(--fontColorSecondary);
  --buttonBackground: var(--color);
  --buttonBackgroundOpacity: 1;
  --rippleOpacity: 1;
  transition: --buttonTextColor ease 200ms;
  &.mod-text-light {
    --buttonTextColor: #ffffff;
    --rippleColor: #ffffff1a;
  }
  &.mod-text-dark {
    --buttonTextColor: #000000de;
    --rippleColor: #0000001a;
  }
  &.mod-basic {
    --buttonTextColor: #000000de;
    --rippleColor: #0000001a;
    --buttonBackground: transparent;
  }
}

.mat-fab {
  padding: 0;
  border-radius: 50%;
  &.mod-basic {
    --buttonTextColor: var(--fontColor);
    --buttonBackground: #ffffff;
    --rippleColor: #0000001a;
  }
  &:hover {
    --buttonBackgroundOpacity: 0.05;
  }
}

.mat-icon {
  width: 36px;
  height: 36px;
  padding: 0;

  --buttonTextColor: var(--fontColor);
  --buttonBackground: var(--color);
  --buttonBackgroundOpacity: 0;
  --buttonBorderRadius: 50%;
  --rippleOpacity: 0.2;
  --rippleColor: var(--color);
}

/* 
  ------------------------------------------------------------------------- 
  ----- RIPPLE EFFECT
  ------------------------------------------------------------------------- 
*/

.mod-ripple {
  position: absolute;
  display: block;
  width: var(--rippleSize);
  height: var(--rippleSize);
  background: var(--rippleColor);
  border-radius: 50%;
  opacity: var(--rippleOpacity);
  pointer-events: none !important;
  user-select: none !important;
  animation: 250ms ease-in 1 forwards ripple-effect;
  z-index: -10;
  &.ripple-end {
    animation: 200ms ease 1 forwards ripple-effect-end;
  }
}

@keyframes ripple-effect {
  0% {
    transform: scale(var(--rippleScaleFactor)) translate3d(0, 0, 0);
    opacity: var(--rippleOpacity);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes ripple-effect-end {
  0% {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: var(--rippleOpacity);
  }
  100% {
    opacity: 0;
  }
}
