.mod-input-chip {
  flex-wrap: wrap;
  --chipHeight: 32px;
  --chipMargin: 4px;
  --chipPadding: 7px 12px;
  .mod-border {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .mod-input-text {
    display: flex;
    flex: 1;
    width: unset;
    min-width: 100px;
    max-width: 100%;
    height: var(--height);
    &.mod-read-only {
      cursor: default;
    }
  }
}

.mod-chip {
  display: flex;
  align-items: center;
  height: var(--chipHeight);
  margin: var(--chipMargin);
  background-color: var(--hover-col);
  border-radius: 16px;
  padding: var(--chipPadding);
  font-size: 11px;
  transition: opacity 0.4s ease-out;
  cursor: default;
  &:hover {
    opacity: 0.5;
    text-decoration: line-through;
  }
  &.mod-active {
    background-color: var(--main-col);
  }
}
