.mod-datepicker {
  min-width: 260px;
  --calendarFontColor: var(--fontColor);
  --calendarShadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  --calendarHeight: 350px;
  --contentHeaderColor: var(--idleColor);
  --contentFontSize: 13px;
  --contentBorderRadius: 20px;

  &.mod-action-button {
    --calendarHeight: 385px;
  }
  &.mod-error {
    --calendarHeight: auto;
  }
}

.mod-inputdate-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: var(--height);
  gap: 2px;
  .mod-inputdate {
    padding: 0;
  }
  .mod-datepicker-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--height);
    height: 100%;
    color: var(--calendarFontColor);
    cursor: pointer;
    z-index: 5000;
  }
}

.mod-calendar {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  width: 296px;
  min-height: var(--calendarHeight);
  background-color: var(--backgroundColor);
  box-shadow: var(--calendarShadow);
  border-radius: 8px;
  z-index: 5000;
  &.mod-range-mode {
    border-radius: 0;
    padding-top: 8px;
  }
}

.mod-block-calendar {
  opacity: 0.3;
  pointer-events: none;
}

.mod-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px 8px 8px;

  .mod-button {
    color: var(--calendarFontColor);
    font-weight: 500;
    .mod-arrow-icon {
      color: var(--idleColor);
    }
  }
}

.mod-calendar-separator {
  display: flex;
  height: 20px;
  padding: 0 8px;
  border-bottom: 1px solid var(--hoverColor);
  user-select: none !important;
  .mod-insert-day {
    width: 40px;
    height: 20px;
    font-size: 11px;
    text-align: center;
    color: var(--idleColor);
  }
}

.mod-content-header {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-top: 8px;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 500;
  color: var(--contentHeaderColor);
}

.mod-calendar-content {
  padding: 8px 8px 0 8px;
  min-width: 296px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  &.day-content {
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
  }
  &.month-content {
    padding: 0px 8px;
  }
  &.month-long {
    grid-template-columns: auto auto auto;
  }
}

.content-transition-wrap {
  display: grid;
  grid-template-columns: auto auto;
  &.mod-translate-L {
    animation: translateL 150ms ease-out forwards;
  }
  &.mod-translate-R {
    animation: translateR 150ms ease-out forwards;
  }
}

@keyframes translateL {
  0% {
    transform: translate3D(-100%, 0, 0);
  }
  100% {
    transform: translate3D(0%, 0, 0);
  }
}

@keyframes translateR {
  0% {
    transform: translate3D(0%, 0, 0);
  }
  100% {
    transform: translate3D(-100%, 0, 0);
  }
}

.mod-calendar-footer {
  display: flex;
  justify-content: flex-end;
  padding: 4px 8px 8px 8px;
  margin-top: auto;
  background-color: var(--backgroundColor);
  &.range-double {
    padding: 8px;
    border-top: 1px solid var(--hoverColor);
  }
  .mod-button-wrap {
    gap: 8px;
  }
}

.mod-button-wrap {
  display: flex;
  gap: 4px;
}

.mod-content-error {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  font-size: 16px;
  color: #fff;
  background-color: var(--errorColor);
}

/* 
  ------------------------------------------------------------------------- 
  ----- CALENDAR RANGE
  ------------------------------------------------------------------------- 
*/

.mod-calendar-range {
  position: absolute;
  overflow: hidden;
  min-width: 296px;
  top: 0;
  border-radius: 8px;
  box-shadow: var(--calendarShadow);
  z-index: 1000;
}
.mod-calendar-range-header {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);

  .mod-calendar-tab {
    overflow: hidden;
    display: block;
    border-radius: 0;
    width: 50%;
    height: 40px;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 150ms ease-out;
    color: var(--backgroundColor);
    z-index: 2000;
    &.mod-idle-tab {
      &:hover {
        color: var(--color);
      }
    }
    &.mod-active-tab {
      color: #fff;
      background-color: var(--color);
      box-shadow: var(--calendarShadow);
      z-index: 3000;
    }
    &.mod-full-tab {
      width: 100%;
    }
    &.mod-shrink-tab {
      width: 0%;
      min-width: 0px;
      padding: 0;
    }
  }
  .bottom-shadow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    box-shadow: 0 4px 10px rgb(0, 0, 0.4), 0 2px 6px rgb(0, 0, 0.4), 0 2px 2px rgb(0, 0, 0.8);
    z-index: 2100;
  }
}
.mod-bar-date {
  padding: 12px 16px;
  height: 50px;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: var(--color);
}

.mod-calendar-range-placeholder {
  user-select: none;
  display: flex;
  height: 70px;
  padding: 16px 0 8px 0;
  background-color: var(--color);
  .mod-static-tab {
    width: 296px;
    padding: 0 16px;
    color: var(--fontColorSecondary);
    .mod-tab-label {
      font-size: 11px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .mod-tab-date {
      padding-top: 8px;
      font-size: 20px;
      font-weight: 400;
      font-family: "Roboto Mono", monospace;
      text-transform: capitalize;
    }
  }
}

.mod-calendar-wrap {
  display: flex;
  width: 296px;
  transition: all 200ms ease-out;
  transform: translateZ(0);
  &.mod-double-calendar {
    width: 592px;
  }
  &.mod-start-date {
    transform: translateX(0%);
  }
  &.mod-end-date {
    transform: translateX(-100%);
  }
  .mod-calendar {
    position: relative;
    box-shadow: none;
    .mod-calendar-header {
      padding: 0 8px;
    }
    .mod-calendar-separator {
      margin: 0 8px;
      padding: 0;
    }
  }
}

.mod-range-separator {
  position: absolute;
  left: 296px;
  top: 70px;
  bottom: 57px;
  border-right: 1px dashed var(--hoverColor);
}
.mod-animation-fadein {
  transform-origin: top;
  animation: fadein 100ms ease-out forwards;
  &.mod-animation-fadeout {
    animation: fadeout 100ms ease-out forwards;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
  ------------------------------------------------------------------------- 
  ----- SELECTOR
  ------------------------------------------------------------------------- 
*/

.mod-selector {
  user-select: none;
  box-sizing: unset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  font-size: var(--contentFontSize);
  color: var(--calendarFontColor);

  border-radius: var(--contentBorderRadius);
  --selectorBackground: transparent;
  --selectorBackgroundOpacity: 0.3;
  --selectorBorderType: solid;
  --selectorBorderColor: transparent;
  --selectorPopupOpacity: 0;
  &.insert-day {
    width: 40px;
    height: 40px;
  }
  &:hover,
  .mod-active {
    --selectorBackground: var(--color);
  }
  cursor: pointer;
  .mod-insert-border {
    pointer-events: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 20px;
    border: 1px var(--selectorBorderType) var(--selectorBorderColor);
    z-index: -1;
  }
  .mod-insert-background {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    opacity: var(--selectorBackgroundOpacity);
    border-radius: var(--contentBorderRadius);
    background-color: var(--selectorBackground);
    z-index: -2;
  }
  .mod-insert-path {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0px;
    right: 0px;
    z-index: -3;
    opacity: 0.3;
    background-color: var(--color);
    &.range-start-path-start {
      left: 20px;
    }
    &.range-start-path-end {
      right: 2px;
      border-radius: 0 20px 20px 0;
    }
    &.range-end-path-start {
      left: 2px;
      border-radius: 20px 0 0 20px;
    }
    &.range-end-path-end {
      right: 20px;
    }
    &.range-start-path-single,
    &.range-end-path-single {
      display: none;
    }
    &.path-start-single-disabled,
    &.path-end-single-disabled {
      left: 2px;
      right: 2px;
      border-radius: 20px;
    }
  }

  &.mod-path-start {
    color: #fff;
    --selectorBackground: var(--color);
    --selectorBackgroundOpacity: 1;
  }

  &.mod-active,
  &.mod-range-start-path-single,
  &.mod-range-end-path-single,
  &.mod-range-start-path-start,
  &.mod-range-end-path-end {
    color: #fff;
    --selectorBackground: var(--color);
    --selectorBackgroundOpacity: 1;
  }
  /* &.mod-active {
    color: #fff;
    --selectorBackground: var(--color);
    --selectorBackgroundOpacity: 1;
  } */

  &.mod-previous {
    --selectorBorderType: solid;
    --selectorBorderColor: var(--color);
  }

  &.mod-disabled {
    color: var(--calendarFontColor);
    cursor: default;
    .mod-insert-background {
      display: none;
    }
    .mod-insert-label {
      opacity: 0.3;
    }
  }
  &.mod-today {
    --selectorBorderColor: var(--idleColor);
    &:hover {
      --selectorPopupOpacity: 1;
    }
  }
}

.mod-today-popup {
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -24px;
  opacity: var(--selectorPopupOpacity);
  transition: opacity 150ms ease-out;
  filter: drop-shadow(0 2px 4px #00000080);
  .popup-label {
    padding: 4px 8px;
    color: #fff;
    background-color: var(--idleColor);
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .mod-arrow-icon {
    color: var(--idleColor);
  }
}
