* {
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 2000px;
  padding: 10px;
  z-index: 10;
}

.form-example {
  display: flex;
  flex-direction: column;
}
.form-example .mod-button {
  width: 80px;
}

.form-flex button {
  width: 100px;
}

/* #module-theme-color {
  --main-color: red;
  --hover-color: #347e21d5;
} */
